@{
    ViewData["Title"] = "Créditos";
    <link rel="stylesheet" href="~/~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


}
<html>
<body class="CentralPerk">
    <div class="task">
        <h1> Creditos</h1>
        <div class="text-center"> 

        <img src="~/img/FotoCreditos.jpg" class="w-50">
        <p> Lola Nieto </p>
        <p> Fan de Friends </p>

        <a href = '@Url.Action("Index")' class="botón" > Volver </a> 

        </div>

    </div>
</body>
</html>
