@{
    ViewData["Title"] = "Paso 3 ";
    <link rel="stylesheet" href="~/~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    var mensaje = ViewBag.Error ;

}
<body class="CentralPerk">
<div class="task">
<p> 
Ahora que ya tenemos la clave para entrar a Central Perk, vamos a hacer el café. Para obtener la clave que permite encender la máquina completamos el juego. 
El código se crea a partir de los números que se obtienen como respuesta de cada verdadero o falso. La opción que sea falsa será la que es parte de la contraseña. 
</p>
<div> 
<h3> PRIMERO: </h3>
<h3 class = "VoF"> 1. Cada vez que va al dentista, alguien muere // tuvo a los trillizos de su hermano // cuidó a ben cuando Ross estaba en el trbaajo </h3>
<h3 class = "VoF"> 2. Tuvo a los trillizos de su hermano  </h3>
<h3 class = "VoF"> 3. Cuidó a Ben cuando Ross estaba en el trabajo </h3>
</div>

<div>
<h3> SEGUNDO </h3>
<h3> 1. Se casó con un patinador de hielo que era gay </h3>
<h3> 2.  No cree en la gravedad // Trabajó como policía </h3>
<h3> 3. Trabajó como policía </h3>
</div>

<div>
<h3> TERCERO </h3>
<h3> 1. Salió con un pintor profesional  </h3>
<h3> 2. Creía que su mamá era una gata</h3>
<h3> 3. Tiene una hermana gemela  </h3>
</div>

</div>

</body> 