@{
    ViewData["Title"] = "Paso 2 ";
    <link rel="stylesheet" href="~/~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    var mensaje = ViewBag.Error ;
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



}

<html lang="es">
<body class="DeptoMonica">
<div class="task">
<p>
Paso 2: Pudimos entrar al depto de las chicas, sabemos que por si se la olvida Rachel tiene un papel con la clave para abrir la 
puerta de Central Perk. Sin embargo, vemos que está encriptado:
 </p>
 <div class="text-center">
  <h3> "La clave de la sala de Central Perk: We were on a break + How you doin'? + I wish I could but I don't want to  </h3>


<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#pista1Hab2" role="button" aria-expanded="false" aria-controls="pista1Hab2">Pista 1</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pista2Hab2" aria-expanded="false" aria-controls="pista2Hab2">Pista 2</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="pista1Hab2">
      <div class="card card-body">
La clave se compone por la inicial de las personas que dicen las frases
     </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="pista2Hab2">
      <div class="card card-body">
Escribirla sin guiones ni espacios intermedios     </div>
    </div>
  </div>
</div>


<form method="post" action='@Url.Action("Habitacion")'> 
     <input type="hidden" name="sala" value="2" >
<input required type="text" name="clave" class="password" placeholder="Escribí tu respuesta aquí" > 
@if(mensaje != null){
<p class = "error"> @mensaje </p>
}
 <br>
<input type="submit" class="Submit" value="Siguiente" >
</form> 


</div>
 </div>


</body> 
</html>
