@{
    ViewData["Title"] = "Paso 1 ";
    <link rel="stylesheet" href="~/~/css/site.css">

}
<body class="DeptoMonica">

<div class="task">
 <p>
Como no tenemos la llave del depto de las chicas, resolvemos este juego: 
</p>

<div class="row row-cols-3">   
              <div class="col">                
                <p class="juegosMentales">Edad que Phoebe realmente tenía</p>
                <img src = "~/img/cuadroPuerta.jpg" />
                <img src = "~/img/polloAnteojos.jpg" />
            </div>
            <div class="col ">
            <img src = "~/img/why god why!!.jpg"  />
            <img src = "~/img/carta.jpg"  />
            <img src = "~/img/sillón.jpg"  />
              </div>
              <div class="col">
                <img src = "img/polloAteojos.jpg" />
                <img src = "img/sillón.jpg" />
                <p class="juegosMentales">Número de Monica</p>
              </div>
            </div>

<p> Cuánto vale la guitarra de Phoebe?</p>



<form method="post" action='@Url.Action("Habitacion")'> 
     <input type="hidden" name="sala" value="1" >
<input required type="text" name="clave" class="password" placeholder="Escribí tu respuesta aquí" > 
<input type="submit" class="Submit" value="Siguiente" >
</form> 

</div>



</body>
