@{
    ViewData["Title"] = "Paso 5 ";
    <link rel="stylesheet" href="~/~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    var mensaje = ViewBag.Error ;

}

<body class="CentralPerk">
<div class="task">
<p> 
Nos deja pasar. A quién vamos a buscar para que le lleve el café al señor Treeger: 
</p>
<div> 
<h3 class="AcertijosRoom"> 
Nombre de la persona que falta: </h3>
<h3 class="AcertijosRoom"> El nombre de uno de los trillizos del hermano de Phoebe.  </h3>
<h3 class="AcertijosRoom"> El nombre de Regina Phalange. </h3>
<h3 class="AcertijosRoom">  El nombre de la persona que no vivió con Mónica.  </h3>
<h3 class="AcertijosRoom"> El nombre de la persona que le regaló la bici a Phoebe.  </h3>
<h3 class="AcertijosRoom"> El nombre de la persona de la que Gunther está enamorado.  </h3>
</div>


<button onclick="alert('Uno de trillizos del hermano de Phoebe se llama Chandler.')">Pista 1</button>
<button onclick="alert('Gunther está enamorado de la persona que trabajó con él')">Pista 2</button>



<form method="post" action='@Url.Action("Habitacion")'> 
     <input type="hidden" name="sala" value="5" >
<input required type="text" name="clave" class="password" placeholder="Escribí tu respuesta aquí" > 
@if(mensaje != null){
<p class = error> @mensaje </p>
}
 <br>
<input type="submit" class="Submit" value="Siguiente" >
</form> 

</div>

</body> 
