@{
    ViewData["Title"] = "Intro";
    <link rel="stylesheet" href="~/~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


}
<body class="DeptoMonica">

<div class="task">
<p>
Monica y Rachel para recuperar su depto tenían que mover todo de un lugar a otro. Para eso necesitan ayuda. El señor Treeger, que es el portero, ofrece ayudarlas, 
pero tienen que traerle un café. Central Perk está cerrado, pero Rachel dejó su llave en el depto de los chicos. 
Las vamos a ayudar.
</p>

 <h4>
 Dinámica del juego
 </h4>

 <p>
  Hay dos pistas por paso máximo. 
</p>
<a href = '@Url.Action("Tutorial")' class="Submit" > Tutorial </a> 
<a href = '@Url.Action("Creditos")' class="Submit" > Créditos </a> 
<a href = '@Url.Action("Comenzar")' class="Submit" > Siguiente </a> 

</div>

</body>
