@{
    ViewData["Title"] = "Intro";
    <link rel="stylesheet" href="~/~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


}

<html lang="es">
<body class="DeptoMonica">

<div class="task">   
      <p>
Monica y Rachel para recuperar su depto tenían que mover todo de un lugar a otro. Para eso necesitan ayuda. El señor Treeger, que es el portero, ofrece ayudarlas, 
pero tienen que traerle un café. Central Perk está cerrado, pero Rachel dejó su llave en el depto de los chicos. 
Las vamos a ayudar.
</p>

<div class="text-center">
  <img src="https://vader.news/__export/1623253887229/sites/gadgets/img/2021/06/09/friends-3.jpg_298247857.jpg" class="w-75"/>

<div class="Links"> 

<a href = '@Url.Action("Tutorial")' class="botón" > Tutorial </a> 
<a href = '@Url.Action("Creditos")' class="botón" > Créditos </a> 
<a href = '@Url.Action("Comenzar")' class="Submit" > Siguiente </a> 
</div>
</div>

</div>

</body>
</html>