@{
    ViewData["Title"] = "Intro";
    <link rel="stylesheet" href="~/~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


}
<body id="Home">


<p>
Monica y Rachel para recuperar su depto tenían que mover todo de un lugar a otro. Para eso necesitan ayuda. El señor Treeger, que es el portero, ofrece ayudarlas, 
pero tienen que traerle un café. Central Perk está cerrado, pero Rachel dejó su llave en el depto de los chicos. 
Las vamos a ayudar.
</p>

 <h4>
 Dinámica del juego
 </h4>

 <p>
  Hay hasta tres pistas, una pista por paso máximo. 
</p>

<form method="post" action='@Url.Action("Comenzar")'> 
<input required type="submit" class="Submit" value="Siguiente">
</form> 





</body>
