@{
    ViewData["Title"] = "Tutorial";
    <link rel="stylesheet" href="~/~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> //--> Esta es la de la librería de Bootstrap?


}
}
<html lang="es">
<body class="DeptoMonica">

<div class="task">
 <ul>
    <li> Una sala de escape es una actividad que se basa en diferentes acertijos que hay que completar para avanzar y, finalmente, salir de la sala.</li>
   <li>Hay una historia que brinda un contexto a las tareas propuestas para resolver la sala. Acá va a estar en cada sala, al principio de cada consigna. </li>
    <li>En general, hay pistas y un tiempo para hacerlo. Aquí no hay un máximo de tiempo ni una cantidad de pistas limitadas ya que es para un nivel principiante.</li>
    <li>En cada sala hay dos botones para pedir pistas, un campo de respuesta y el botón siguiente que es el que hay que tocar una vez que se ingresa la respuesta. </li>
    <div class="text-center"> 
    <div class="shadow-lg w-50 text-center rounded"><img src="http://localhost:5252/img/Tutorial2.png" class="w-100 "/></div>
    </div>  
    <li>Es una sala temática así que va a ser mucho más fácil de resolver si viste a serie y sino vas a tener que investigar sobre algunas cosas.   </li>
    <li>Para cada sala hay que ingresar una contraseña que desbloquea la entrada a la próxima sala; hasta que no se ingrese la contraseña correcta no se podrá continuar. </li>
    <div class="text-center"> 
    <div class="shadow-lg w-50 rounded"> <img src="http://localhost:5252/img/Tutorial1.png" class="w-100 "/></div>
    </div>

    
</ul>
<h3> ¿Empezamos? </h3>
<div class="text-center">
<a href = '@Url.Action("Comenzar")' class="Submit" > Comenzar sala </a> 
<a href = '@Url.Action("Index")' class="botón" > Volver </a> 
</div>

</div>



</body>


</html>