@{
    ViewData["Title"] = "¡Ganaste! ";
    <link rel="stylesheet" href="~/~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    var mensaje = ViewBag.Error ;

}


<html lang="es">
<body class="DeptoMonica">
<div class="task">

<div class="text-center">

 <h3> Saliste de la sala. ¡Felicitaciones! </h3>
 <p> Gracias por haber jugado </p>

<img src="https://blogs.gwu.edu/undergradadmissions/files/2018/02/Friends-GIF-3-1co9lya.gif" class="w-80">
<a href = '@Url.Action("Creditos")'  class="botón" > Créditos </a> 

</div>

</div>

</body> 
</html>