@{
    ViewData["Title"] = "¡Ganaste! ";
    <link rel="stylesheet" href="~/~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    var mensaje = ViewBag.Error ;

}


<html lang="es">
<body class="DeptoMonica">
<div class="task">

 <h3> Saliste de la sala. ¡Felicitaciones! </h3>
 <p> Gracias por haber jugado </p>


<div class="text-center">
<a href = '@Url.Action("Creditos")' class="Submit" > Créditos </a> 

</div>

</div>

</body> 
</html>