html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgba(16, 15, 15);
}
@font-face {
  font-family: "FRIENDS";
  src: url('../fonts/GABRWFFR.TTF');
}

.CentralPerk{
  background-image: url("../img/CentralPerk.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;

}
.DeptoMonica{
  background-image: url("../img/DepartamentoMonica.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;

}
.Submit{
  
  background-color:rgba(106, 51, 158);
  color: rgba(221, 221, 81);
  border:0;
  border-radius: 5%;
  padding:2%;
  font-weight: 700;
  margin: 5%;
  text-decoration: none;


}
.pistas{
  background-color: rgb(215, 147, 22);
  color:rgb(15, 95, 15);
  font-weight: 600;
  border:0;
  border-radius: 5%;
  padding:1%;
  margin: 5%;
  text-decoration: none;


}
.pistas:hover{
  font-weight: 700;
  color:rgb(15, 95, 15);
}
.botón{
  background-color:rgba(106, 51, 158);
  color: rgba(221, 221, 81);
  border:0;
  border-radius: 5%;
  padding:1%;
  font-weight: 600;
  margin: 5%;
  text-decoration: none;

}
.botón:hover{
  font-weight: 700;
  color: rgba(221, 221, 81);

}
.error{
background-color: rgb(215, 147, 22);
border-radius: 5%;
font-weight: 700;
font-size: 20px;
color:rgb(15, 95, 15);
margin:5%;
}
.Submit:hover{
  /*No aplica margin-top sobre botones*/
  text-decoration: none;
  color:rgba(221, 221, 81);
  padding: 2%;
  margin: 5%;
  font-weight: 800;


}
.contenedor, h4{
  font-size: 18px;
}

.password{
  background-color:rgb(153, 91, 211);
  border-color: blueviolet;
  border-width: thick;
  color:rgba(221, 221, 81);
  
}
.password::placeholder{
  color:rgba(221, 221, 81);
  
}
/*a{
  text-decoration: none;

}
a:hover{
  text-decoration: none;
  color:rgb(221, 221, 81);
} 

.password{
  
} */
img{
  height: 20%;
}
.task{
  background-color:rgb(226, 226, 226);
  opacity: 0.9;
  margin: 10%;
  padding: 5%;
  border-radius: 15%;

}

@font-face {
  font-family: "textosEspeciales";
  src: url('../fonts/Lemon Shake Shake.otf');
}

h1{
  font-family: "textosEspeciales";
  font-size: 90%;

}
h2{
  font-family: "FRIENDS";
  font-size: 100%;
}
h3{
  font-family: "textosEspeciales";
}
.pasillo{
  background-image: url("../img/Pasillo.jpg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  /* position:fixed;    --> que solo aplique al background */
  
}
input, button, h3, p, h1, h2{
  opacity: 1;
}
/* Imagen de fondo del pasillo: que quede fija pero lo dem[as se mueva (porque con bg-size cover queda cortada y con bg-size 100% hay qeu scrollear)