html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
@font-face {
  font-family: "FRIENDS";
  src: url('../fonts/GABRWFFR.TTF');
}

.CentralPerk{
  background-image: url(~/img/CentralPerk.jpg) !important ;

}
.DeptoMonica{
  background-image: url(~/img/DeptoMonica.jpg) !important  ;

}
.Submit{
  
  background-color:rgb(106, 51, 158);
  color: rgb(221, 221, 81);
  border:0;
  border-radius: 2%;
  padding:2%;
  font-weight: bold;


}
.Submit:hover{
  text-decoration: none;
}
.JuegosMentales{

}
.password{
  
}
img{
  height: 20%;
}
.task{
  background-color:rgb(221, 180, 130);
  opacity: 50;
  margin: 10%;
  padding: 5%;
  border-radius: 5%;

}